.content_info{
	position: sticky;
	z-index: 1;
	top: 80px;
}

.content{
	position: relative;
    z-index: 2;
    background-color: white;
}
.content_box{
	position: relative;
	width: 100%;
	padding-top: 30px;
	background-color: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

.gallery_box img{
	width: 100%;
}

.button{

}

/***** Ряд 1 *****/
.button_info{
	position: relative;
    width: 224px;
	left: 50%;
	margin-top: 20px;
	margin-left: -100px;
	background-color: 0;
}
.button_info .top_text{
	text-align: center;
	font-size: 30px;
	color: #2E2E2E;
}
.text_info{
	position: relative;
	margin-top: 20px;
	width: 100%;
	background-color: 0;
}
.text_info p{
	position: relative;
	font-size: 17px;
	color: #2E2E2E;
	font-family: cursive;
	text-align: justify;
	width: 95%;
	left: 2.5%;
}

/***** Ряд 2 *****/

.content_box .img_info{
	position: relative;
	margin-top: 50px;
	width: 350px;
    height: 350px;
    left: 50%;
    margin-left: -176px;
    background-color: yellow;
}
.img_info a{
	width: 100%;
	height: 100%;
	background-color: red;
}
.img_info p{
	position: relative;
	text-align: center;
}
.box{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.box img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/***** Ряд 3 *****/

.content_box .video_box{
	position: relative;
	width: 95%;
	height: 300px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

/***** Ряд 4 *****/

/***** Ряд 5 *****/


@media(min-width: 480px){
	.content_box{
		background-color: 0;
	}
	.button_info{
        
        
    }
    .text_info{
	    position: relative;
	    margin-top: 20px;
	    width: 460px;
	    left: 50%;
	    margin-left: -230px;

    }

    .content_box .img_info{
    	width: 470px;
    	height: 470px;
    	margin-left: -235px;
    }
}

@media(min-width: 720px){
	.content_box{
		position: relative;
		background-color: 0;
		overflow:hidden;

	}
	.gallery_box img{
	    width: 100%;
	    height: 550px;
    }
    .button_info{
    	height: 160px;
    	left: 10%;
    	margin-left: 0px;
    	background-color: 0;
    }
    .text_info{
    	width: 45%;
    	right: 15%;
    	margin-left: 0px;
    	margin-top: -160px;
    	background-color: 0
    }

    /***** Ряд 2 *****/

    .content_box .box_img_info{
    	position: relative;
    	width: 705px;
    	left: 50%;
    	margin-left: -350px;
    }
    .content_box .img_info{
    	width: 350px;
    	height: 350px;
    	left: 0px;
    	margin-left: 0px;
    	display:inline-block;
    }

    /***** Ряд 3 *****/

    .content_box .video_box{
	    width: 80%;
	    height: 400px;
	    padding-left: 10%;
	    padding-right: 10%;
    }
}
@media(min-width: 880px){
	/***** Ряд 2 *****/
    .content_box .box_img_info{
    	position: relative;
    	width: 865px;
    	left: 50%;
    	margin-left: -430px;
    }
    .content_box .img_info{
    	width: 430px;
    	height: 430px;
    	left: 0px;
    	margin-left: 0px;
    	display:inline-block;
    }
}
@media(min-width: 1020px){
	.content_box{
		background-color: orange;
	}

    
	.content_box .img_info{
    	width: 400px;
    	height: 400px;
    	left: 0%;
    	margin-left: 0px;
    	
    }
}
