*{
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  background-color: 0;
}

.phone_menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.phone_menu-content {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.phone_menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.phone_menu a:hover, .phone_menu a:focus {
  color: #f1f1f1;
}

.phone_menu .closebtn {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 50px;
}
.top_panel{
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  /*background-color: #1C1C1C;*/
  z-index: 999;
}
.img_shopping-basket{
  position: absolute;
  top: 20px;
  width: 40px;
  right: 30px;
}
.img_user{
  position: absolute;
  top: 20px;
  width: 40px;
  right: 90px;
}

.pc_menu_box{
  position: relative;
  display: none;
}
.pc_menu_box a{
  color: #1C1C1C;
  text-decoration: none;
  margin-left: 25px;
  font-family: Andale Mono, monospace;
}
.pc_menu_box a:hover{
   font-size: 21px;
   text-decoration: 2px underline;
}

@media (min-width: 970px){
  .top_panel{
    height: 65px;
  }
  .img_shopping-basket{
    width: 32px;
  }
  .img_user{
    width: 32px;
    right: 76px;
  }
  .button_menu{
    display: none;
  }
  .pc_menu_box{
    display: table;
    position: relative;
    font-size: 20px;
    color: red;
    top: -43px;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    background-color: red;
  }
}
@media (min-width: 1300px){
  .img_shopping-basket{
    width: 23px;
  }
  .img_user{
    width: 23px;
    right: 76px;
  }
}

/****** Низ ******/

.bottom_box{
  position: relative;
  width: 100%;
  height: 600px;
  bottom: 0px;
  left: 0%;
  z-index: 2;
  background-color: black;
}

@media (min-width: 970px){
  .bottom_box{
    height: 300px;
  }
}
