*{
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.top_panel{
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  /*background-color: #1C1C1C;*/
  z-index: 999;
}
.img_shopping-basket{
  position: absolute;
  top: 20px;
  width: 40px;
  right: 30px;
}
.img_user{
  position: absolute;
  top: 20px;
  width: 40px;
  right: 90px;
}
.box_search_field{
  position: relative;
  left: 50%;
  margin-left: -150px;
  top: 20px;
  width: 300px;
}
.box_search_field input{
  border-radius: 30px;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: grey;
  font-size: 25px;
}
.box_search_field img{
  position: relative;
  width: 28px;
  margin-left: 250px;
  top: -48px;
}

.pc_menu_box{
  position: relative;
  display: none;
}
.pc_menu_box a{
  color: #1C1C1C;
  text-decoration: none;
  margin-left: 25px;
  font-family: Andale Mono, monospace;
}
.pc_menu_box a:hover{
   color: red;
   font-size: 21px;
   -moz-transition: all .3s linear;
}

@media (min-width: 970px){
  .top_panel{
    height: 65px;
  }
  .img_shopping-basket{
    width: 32px;
  }
  .img_user{
    width: 32px;
    right: 76px;
  }
  .button_menu{
    display: none;
  }
  .pc_menu_box{
    display: table;
    position: relative;
    font-size: 20px;
    color: red;
    top: -43px;
    left: 130px;
  }
}
@media (min-width: 1100px){
  .img_shopping-basket{
    width: 23px;
  }
  .img_user{
    width: 23px;
    right: 76px;
  }
}

/******** BOTTOM_STYLE ********/
.bottom_panel{
  position: relative;
  bottom: -100%;
  left: 0px;
  width: 100%;
  height: 600px;
  background-color: black;
}
.container_info{
  position: relative;
  width: 230px;
  height: 260px;
  left: 50%;
  top: 80px;
  margin-left: -115px;
  background-color: green;
}
.container_info img{
  margin-left: auto;
  width: 30px;
}
.container_info p{
  font-size: 18px;
  color: white;
}

.container_info_b{
  position: relative;
  width: 230px;
  height: 50px;
  left: 50%;
  top: 15px;
  margin-left: -115px;
  background-color: green;
}
.container_info_b p{
  font-size: 40px;
  color: white;
  text-align: center;
}

.bottom_panel_info_box_a{
  position: relative;
  margin-top: 15px;
  width: 150px;
  height: 250px;
}
.bottom_panel_info_box_a a{
  position: relative;
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 970px){
  .bottom_panel{
    position: relative;
    height: 300px;

  }
}